* {
    box-sizing: border-box;
    // min-height: 100%;
    max-width: 1440px;
}

body {
    margin: auto;
    font-family: 'Roboto', sans-serif;}


$color-primary: #020203;
$color-secondary: #FFFFFF;
$color-tertiary: #FBFBFB;
$color-fourth: #282D30;
$color-fifth: #FF0000;
$color-sixth:#74798C;

// +++++++++++++++++++++++++++++++++++++++++ Page Display +++++++++++++++++++++++++++++++++++++++++++++++++++

.userSelection {
text-align: center;
margin-top: 16rem;
    .userSelectButton {
        margin: 1rem;
        background-color: $color-tertiary;
        border: 0 solid #e2e8f0;
        border-radius: 1.5rem;
        box-sizing: border-box;
        color: #0d172a;
        cursor: pointer;
        display: inline-block;
        font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1;
        padding: 1rem 1.6rem;
         text-align: center;
         text-decoration: none #0d172a solid;
         text-decoration-thickness: auto;
         transition: all .1s cubic-bezier(.4, 0, .2, 1);
         box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
         user-select: none;
         -webkit-user-select: none;
         touch-action: manipulation;
    }

    .userSelectButton:hover {
        background-color: #1e293b;
         color: #fff;
    }
}






// +++++++++++++++++++++++++++++++++++++++++ Page Display +++++++++++++++++++++++++++++++++++++++++++++++++++


.stats {
    display: flex;
        float: right;
        width: 1200px;
    
        .mainStats {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: fit-content;
            width: 835px;
            margin-right: 2rem;
    
        }
    
        .informationCards {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    
    }

    
// +++++++++++++++++++++++++++++++++++++++++ Navbar +++++++++++++++++++++++++++++++++++++++++++++++++++


.navBar {
    display: flex;
    background-color: $color-primary;
    height: 91px;
    align-items: center;
    padding: 2rem;

    .siteName {
        margin-right: 4rem;

        img {
            width: 178px;
            height: 61px;
        }
    }

    .navBarLink {
        font-size: 24px;
        color: $color-secondary;
        text-decoration: none;
        margin: 4rem;

    }

}


// +++++++++++++++++++++++++++++++++++++++++ Welcoming message +++++++++++++++++++++++++++++++++++++++++++++++++++


.hello {

    margin-left: 12rem;
    margin-top: 2rem;
        
    h1 {
        font-size: 48px;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    p {
        font-size: 18px;
    }
}


// +++++++++++++++++++++++++++++++++++++++++ Sidebar Footer +++++++++++++++++++++++++++++++++++++++++++++++++++


footer {
    display: flex;
    flex-direction: column;
    background-color: $color-primary;
    width: 117px;
    height: 100%;
    align-items: center; 
    float: left;

    top: 85px;
    left: -5px;
    position: absolute;

    ul {
        display: flex;
        flex-direction: column;
        padding: inherit;
        margin-top: 10rem;
        margin-bottom: 6rem;
    
        .navBarLink {
            margin-bottom: 1rem;
        }

    }

    p {
        font-size: 12px;
        color: $color-secondary;
        writing-mode: vertical-lr;
    }
}


// +++++++++++++++++++++++++++++++++++++++++ Information cards +++++++++++++++++++++++++++++++++++++++++++++++++++


.information {
    display: flex;
    width: 258px;
    height: 124px;
    background-color: $color-tertiary;
    border-radius: 5px;
    align-items: center;
    
    .informationIcon {
        padding: 1rem;
        img {
            width: 60px;
            height: 60px;
        }
    }

    .informationData {
        .informationUnit {
            font-size: 20px;
            font-weight: 700;
            margin: 0;
        }

        .informationName {
            font-size: 14px;
            margin-top: 4px;
        }
    }

}


// +++++++++++++++++++++++++++++++++++++++++ Activity Barchart +++++++++++++++++++++++++++++++++++++++++++++++++++


.barchartContainer {
    background-color: $color-tertiary;
    width: 835px;
    height: 320px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    h2 {
        font-size: 15px;
        margin-left: 2rem;
        margin-top: 2rem;
    }

}

.customTooltipActivity {
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 7px;
}

.legendTextColor {
    color: $color-sixth;
  }


// +++++++++++++++++++++++++++++++++++++++++ Sessions Graph +++++++++++++++++++++++++++++++++++++++++++++++++++


.sessionGraph {
    width: 258px;
    height: 263px;
    border-radius: 5px;
    position: relative;


    .sessionResponsiveContainer {
        background-color: $color-fifth;
        border-radius: 5px;

    }

    h2 {
        position: absolute;
        font-size: 15px;
        width: 70%;
        color: $color-secondary;
        top: 15px;
        left: 20px;
    }

    .tooltipSession {
        background-color: white;
        color: black;
        padding: 1px 10px;
    }
}


// +++++++++++++++++++++++++++++++++++++++++ RadarChart +++++++++++++++++++++++++++++++++++++++++++++++++++


.radar {
    width: 258px;
    height: 263px;
    background-color: $color-fourth;
    border-radius: 5px;

}




// +++++++++++++++++++++++++++++++++++++++++ Performance Score LineChart +++++++++++++++++++++++++++++++++++++++++++++++++++


.scoreContainer {
    width: 258px;
    height: 263px;
    background-color: $color-tertiary;
    position: relative;

    h2 {
        font-size: 15px;
        margin: 0;
        position: absolute;
        top: 25px;
        left: 30px;
    }

}

.legendScore {
    text-align: center;

    &Number {
        font-weight: 700;
        font-size: 26px;
        margin: 10px;
    }

    &Text {
        opacity: 0.5;
        margin: 5px;
    }
}


// +++++++++++++++++++++++++++++++++++++++++ Responsive to fit when under width of 1340px +++++++++++++++++++++++++++++++++++++++++++++++++++


@media screen and (max-width: 1340px) {
    * {
        max-width: 1024px;
    }
    
    .navBar {
        .siteName {
            margin-right: 2rem;
        }
    
        .navBarLink {
            margin: 2rem;
        }
    }

    .stats {
        width: 85%;
        margin-right: 2rem;
        margin-left: 1rem;
    }

    .barchartContainer {
        width: 620px;
        height: 280px;
        margin-left: 1rem;
    }

    .sessionGraph {
        width: 196px;
        height: 200px;
    }

    .radar {
        width: 196px;
        height: 200px;

        tspan {
            font-size: 9px;
        }
    }

    .scoreContainer {
        width: 196px;
        height: 200px;

        h2 {
            top: 10px;
        }
    }

    .legendScore {
        &Number {
            font-size: 20px;
            margin: 5px;
        }
    }

    .information {
        width: 200px;
        height: 100px;
    }

    footer {
        height: 695px;
        
        ul {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }






}











